@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 290px;
    font-family: 'Sarala', sans-serif;
    line-height: 1.5;
    color: black;
    background-color: #ffffff;
}

.container {
    margin: 5px;
    border-radius: 5px;
    background-color: lightgray;
}

/* HEADER */

header {
    position: fixed;
    width: 300px;
    /* min-height: 100vh; */

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 40px;
    height: 40px;
}

header h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-weight: 300;
}

nav ul {
    list-style: none;
}

nav li {
    border-top: 1px solid white;
    width: 100%;
}

nav li:hover {
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 30px;
    cursor: pointer;
}

/* MAIN */

main {
    margin-left: 300px;
    padding: 20px;
    border-left: 3px solid white;
}

section h2 {
    font-size: 25px;
    font-weight: 100;
}

article {
    margin: 15px;
    text-align: justify;
}

article p {
    margin: 15px 0;
}

article ul {
    padding-left: 40px;
}

article li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    header {
        position: absolute;
        width: 100%;
    }

    nav ul {
        border-bottom: 5px solid white;
    }

    main {
        margin: 0;
        padding-top: 730px;
    }




}